<p>Here is your original question: </p>
<%= @question %>
<p>Nice to see we still have liftoff in Houston XD</p>

<p>And here is your Coach's response to your question: </p>
<%= @answer %>
<p>Houston, the skies are ours :D </p>
